<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hastane.Properties.Settings.BaglantiCumlesi" connectionString="Server=DESKTOP-AG0H5C0;Database=HastaneOtomasyonu;User Id=sa;Password=1;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>